.App {
  text-align: center;
}

.complete-all {
  color: #67C60B;
  display: block;
  border: 1px solid;
  border-radius: 40px;
  text-align: center;
  margin: 30px 0 20px 20px;
  padding: 10px;
  text-decoration: none;
  transition: all .5s ease-in-out;
  width: 130px;
}

.complete-all .lnr-checkmark-circle {
  font-weight: bold;
}

.complete-all:hover {
  background-color: #67C60B;
  color: #ffffff;
}

.container {
  margin: auto;
  max-width: 660px;
  width: 100%;
}

.list-container {
  background-color: #FFFFFF;
  border: 1px solid #e1e3e8;
  box-shadow: 0px 5px 10px 0px rgba(225, 227, 232, 0.77);
}

.item-options {
  display: inline-block;
  float: right;
}

.list-items {
  margin: auto;
}

.todo-item {
  box-shadow: inset 0 1px #e1e3e8;
  cursor: pointer;
  display: block;
  line-height: 20px;
  padding: 24px;
  font-size: 14px;
  text-align: left;
  transition: all .5s ease-in-out;
  vertical-align: middle;
}

.todo-item input[type=checkbox] {
  position: relative;
  margin: 0 10px 0 0;
}

.todo-item input[type=checkbox]:before {
  border-radius: 60px;
  background: #ffffff;
  box-shadow: inset 0 0 0 2px #c4c6ca;
  content: "";
  display: inline-block;
  position: absolute;
  left: -2px;
  top: -2px;
  height: 16px;
  width: 16px;
}

.todo-item input[type=checkbox]:checked:before {
  box-shadow: none;
  color: #67C60B;
  content: '\e87f';
  font-weight: bold;
  font-size: 16px;
  font-family: Linearicons-Free;
}

.complete-item {
  background-color: #FBFBFD;
  color: #c4c6ca;
  text-decoration: line-through;
}

.editing-item {
  /*border: 1px solid #67C60B;*/
  background-color: rgba(103, 198, 11, 0.10);
}

.editing-item form {
  display: inline-block;
  width: 90%;
}

/*.editing-item::before {
  color: #67C60B;
  content: '\E870';
  font-weight: bold;
  font-size: 16px;
  font-family: Linearicons-Free;
  transform: rotate(45deg);
}*/

.edit-form {
  appearance: none;
  background: transparent;
  border: none;
  box-shadow: 0 2px #67C60B;
  color: #67C60B;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  outline: 0;
  padding: 0 0 4px 10px;
  margin-left: 15px;
  width: 99%;
}

.todo-input {
  align-items: center;
  background: #fefefe;
  display: flex;
  height: 200px;
  padding: 0 1rem;
}

.todo-input .input-group-field {
  border-radius: 5000px 0 0 5000px;
  position: relative;
  transform: translateX(0.5rem);
}

.todo-input .input-group {
  margin-bottom: 0;
}

.todo-input .todo-input-inner {
  text-align: center;
}

.todo-input .input-group-button .add-task-button {
  border-radius: 5000px;
  min-width: 25vw;
  position: relative;
  transform: translateX(-0.5rem);
}

.add-todo {
  appearance: none;
  background-color: #fefefe;
  border-radius: 0;
  border-top: 4px solid rgba(64, 144, 255, .8);
  border-bottom: 0;
  border-left: 1px solid #e1e3e8;
  border-right: 1px solid #e1e3e8;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 100;
  max-width: 660px;
  outline: 0;
  padding: 1.75rem 2.8rem;
  transition: background-color 0.5s ease-in-out, box-shadow 0.5s, border-color 0.25s ease-in-out;
  width: 100%;
}

.add-todo:focus {
  background-color: #f0f8ff;
  box-shadow: 0px 5px 10px 0px rgba(225, 227, 232, 0.77);
  border-top: 4px solid #4090ff;
}

.add-todo::-webkit-input-placeholder {
  color: #B2B4B7;
}

.add-todo::-moz-placeholder {
  color: #B2B4B7;
}

.add-todo:-ms-input-placeholder {
  color: #B2B4B7;
}

@media print, screen and (min-width: 40em) {
  .todo-input {
    padding: 0 3rem;
  }
}

@media print, screen and (min-width: 64em) {
  .todo-input {
    padding: 0 6rem;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
